// scss 变量类，用于统一管理scss变量，方便样式管理

// header
$header-height              : 80px;
$header-color               : #fff;

// footer
$footer-color               : #292a32;

// 移动端字体定义规范
$font-size-small-s          ： 10px;
$font-size-small            ： 12px;
$font-size-medium           ： 14px;
$font-size-medium-x         ： 16px;
$font-size-large            ： 18px;
$font-size-large-x          ： 22px;
